@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

$white: hsl(0, 0%, 100%);
$lightGray: hsl(212, 45%, 89%);
$grayishBlue: hsl(220, 15%, 55%);
$darkBlue: hsl(218, 44%, 22%);

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 18px;

    background-color: $lightGray;
    color: $darkBlue;
    text-align: center;

    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 300px;
    height: 480px;
    margin: 1.5rem;
    background-color: $white;
    border-radius: 20px;
    padding: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);

    img {
        width: 100%;
        display: block;
        border-radius: 15px;
    }

    div {
        padding: 0.5rem;

        h1 {
            font-weight: 700;
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }

        p {
            color: $grayishBlue;
        }
    }

}
